<div class = "container">
  <div class=" justify-content-center">
    <div class = "col-4">
    <% if @user.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this food from being saved:</h2>
            <ul>
              <% @user.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>

        <% end %>
      <%= form_with(model: @user, class: "shadow p-3 mb-3 bg-info rounded", ) do |user| %>
        
        
        <div class="mb-3">
          <%= user.label :username, class: "form-label" %>
          <%= user.text_field :username, class: "form-control" %>
          <div class="form-text text-light">enter the details of your meal!</div>
        </div>

        <div class="mb-3">
          <%= user.label :password_digest, class: "form-label" %>
          <%= user.text_field :password_digest, class: "form-control" %>
        </div>

        <div>
          <%= user.submit "Create account and sign-in", class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>