<div class= "container justify-content-center">
<div class = "col-10">
  <%= form_with(model: food, class: "shadow p-3 mb-3 bg-info rounded", ) do |f| %>
    <% if food.errors.any? %>
      <div style="color: red">

        <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>
        <ul>
          <% food.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>

    <% end %>
    
    <div class="mb-3">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
      <div class="form-text">enter the details of your meal!</div>
    </div>

    <div class="mb-3">
      <%= f.label :calories, class: "form-label" %>
      <%= f.text_field :calories, class: "form-control" %>
    </div>

    <div>
      <%= f.submit "Add food", class: "btn btn-primary"%>
    </div>
  <% end %>
</div>