<p style="color: green"><%= notice %></p>
<div class = "container-fluid ">
  <div class=" justify-content-center">

    <h1>Foods</h1>
    <% @foods.each do |f| %>
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= f.name%></h5>
          <p class="card-text"><%= f.calories%></p>
          <%= link_to "Edit", edit_food_path(f), class: "btn btn-primary"%>
        </div>
      </div>
    <% end %>
    <%= link_to "New food", new_food_path %>
  </div>
</div>
